@font-face {

      font-family: "Infinity";
      src: url("../fonts/Infinity.ttf") format("truetype");

      }

a { text-decoration:none;}
#geral {
	position: absolute;
	height: 100%;
	width: 100%;
}

#topo {
	position: absolute;
	width: 100%;
	height: 130px;
	background-color: #2e51a7;
	border-bottom: 5px solid black;
	border-color: #3c3c3c;
}
#logo {
	width: 435px;
	height: 84px;
	background-color: #dedede;
	
	border-bottom: 6px solid ;
	border-top: 3px solid ;
	border-left: 4px solid ;
	border-right: 4px solid ;
	border-color: #3c3c3c;
}
header{
 text-align: center;
 }
 
 #menu  {
  	padding: 0px;
  	margin: 0px;
  	list-style:none;
  	text-align: center;


 	
 }
 #menu ul li { 
 	margin-top: 20px;
 	display: inline-flex;
 	vertical-align: middle;

 }
 
 #menu ul li a 	{
 	font-size: 30px;
 	font-family: Century Gothic;
 	color: #f5f5f5;
 	text-decoration: none;

 	padding-left: 15px;
 	padding-right: 15px;

 }
 #home {
 	height: 800px;
 	background-color: #dedede;
 	border-color: black;
 	
 }
#sobre {
 	height: 600px;
 	background-color: #2e51a7; 	
 }

#portifolio {
 	height: 600px;
 	background-color: #dedede;
 	
 	
 }
#blog {
 	height: 350px;
 	background-color:#ef770d;
 }
#contato {
 	height: 700px;
 	background-color: #333333;
 }

.titulo {
 	font-size: 100px;
 	font-family: "Infinity";
 	//font-weight: bold;
 	text-align: center;
 	color: #1d1d1d;	
 	padding-top: 25px;
 	padding-bottom: 30px;
 }
#sobre .titulo {
	color: #f8e43d;
}
#contato .titulo {
	color: #dedede;
}


.btblog {
 	width: 350px;
 	height: 125px;
 	background-color: #333333;		
	margin: 100px 30px;
	//border: 1px solid;
	border-color: black;
	font-family: "Infinity";
	//font-weight: bold;
	font-size: 65px;
	color: #dedede;
	display: inline-block; 
	padding-top: 23px;
	

 	
 }

 #centralizar {
 	text-align: center;
 	
 }

 